@font-face {
    font-family: 'square';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/upheavtt.ttf') format('truetype');
}

@font-face {
    font-family: 'pixel';
    font-weight: bold;
    font-style: normal;
    src: url('./fonts/04B_30__.TTF') format('truetype');
}

@font-face {
    font-family: 'academy';
    font-weight: bold;
    font-style: normal;
    src: url('./fonts/AcademyFilled3D.ttf') format('truetype');
}

@font-face {
    font-family: 'doergon';
    font-weight: bold;
    font-style: normal;
    src: url('./fonts/DoergonShift.ttf') format('truetype');
}

@font-face {
    font-family: 'actionj';
    font-weight: bold;
    font-style: normal;
    src: url('./fonts/actionj.ttf') format('truetype');
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: #333446;
    animation: animate 20s linear infinite;
    top: -150px;
  }
  .box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 7s;
  }
  .box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 5s;
  }
  .box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
  }
  .box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 6s;
  }
  .box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 7s;
  }
  .box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
  }
  @keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(800px) rotate(360deg);
        opacity: 0;
    }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.box-area-bottom  {
  position: relative;
}

.box-area-bottom li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background:#B8CFCE;
  animation: animate 10s linear infinite;
  top: -150;
}
.box-area-bottom li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 7s;
}
.box-area-bottom li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 5s;
}
.box-area-bottom li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}
.box-area-bottom li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 6s;
}
.box-area-bottom li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 7s;
}
.box-area-bottom li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}
@keyframes animate {
  0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
  }
  100% {
      transform: translateY(800px) rotate(360deg);
      opacity: 0;
  }
}

.github-calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.github-calendar {
  max-width: 100%;
  background: #7F8CAA; /* Yellow background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  padding: 10px; /* Optional: Add padding if needed */
}










