@keyframes walk {
    0% {
        transform: translateX(-50px); /* Start just off-screen left */
    }
    100% {
        transform: translateX(calc(100vw)); /* Move to just off-screen right */
    }
}

.car {
    width: 50px; /* Adjust size as needed */
    position: absolute;
    bottom: 20px; /* Adjust position as needed */
    animation: walk 20s linear infinite; /* Adjust speed as needed */
}

.stopped {
    animation: none; /* Stop animation */
}

.germ-shape {
    /* border-radius: 50%; 
    background: radial-gradient(circle at 50% 50%, rgba(110, 19, 138, 0.8) 30%, rgba(10, 64, 243, 0) 100%); */
    animation: walk 20s linear infinite;
}

.big-shape {
    width: 150px;
    height: 100px;
    opacity: 0.8;
}

.small-shape {
    width: 100px;
    height: 70px;
    opacity: 0.5;
}