@import url(https://fonts.googleapis.com/css?family=Helvetica);@import url(https://fonts.googleapis.com/css?family=Roboto);nav,nav li {
    display: inline-block
}

body,nav a {
    border-radius: 20px
}

.title,nav {
    text-align: center
}

dl:hover dd:last-of-type,h1:after,hr,nav a,nav li:hover ul {
    display: block
}

ins,nav a {
    text-decoration: none
}

dfn,mark {
    font-style: italic
}

nav li,sub,sup {
    position: relative
}

hr,ol,p,ul {
    margin: 1em 0
}

dl,hr,nav ul,nav ul ul {
    padding: 0
}

dl dd:last-of-type,nav ul ul {
    display: none
}

nav li li li {
    display: none!important
}

nav {
    justify-content: center;
    margin: 0 auto
}

nav ul {
    margin: 5px 50px 20px 80px
}

nav a {
    padding: 10px;
    background: #111;
    width: 100px
}

nav li {
    list-style: none
}

nav ul ul {
    margin: 0;
    position: absolute;
    z-index: 999
}

nav li:hover a {
    background-color: #222
}

nav li:hover a:hover {
    background-color: #333
}

html {
    margin-top: 2.5em;
    padding-bottom: 20em;
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    font-family: Helvetica,Roboto,sans-serif;
    line-height: 1.7;
    padding: .125em 1em .5em;
    margin: auto;
    max-width: 1000px;
    font-size: 16px;
    color: #ddd;
    background: #000
}

a {
    color: #3498db
}

a:hover {
    color: #add8e6
}

a:focus {
    outline: dotted thin
}

::-moz-selection {
    background: rgba(255,255,0,.3)
}

::selection {
    background: rgba(255,255,0,.3)
}

a::-moz-selection {
    background: rgba(255,255,0,.3)
}

a::selection {
    background: rgba(255,255,0,.3)
}

img {
    max-width: 100%
}

h1,h2,h3,h4,h5,h6 {
    line-height: 100%;
    font-weight: 400
}

b,h4,h5,h6,mark,strong {
    font-weight: 700
}

.title {
    font-size: 3.5em
}

h1 {
    font-size: xx-large
}

h1:after {
    content: " ";
    margin-top: 12px;
    border: 1px solid #fff
}

h2 {
    font-size: x-large
}

h3 {
    font-size: 1.5em
}

h4 {
    font-size: 1.2em
}

h5 {
    font-size: 1em
}

h6 {
    font-size: .9em
}

blockquote {
    margin: 0;
    padding-left: 3em;
    border-left: .5em solid #eee
}

hr {
    height: 2px;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #eee
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: .98em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

ins {
    background: #ff9
}

mark {
    background: #ff0
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

ol,ul {
    padding: 0 0 0 2em
}

li p:last-child {
    margin-bottom: 0
}

ol ol,ul ul {
    margin: .3em 0
}

dl {
    margin: 0
}

dd {
    font-size: medium
}

@media (max-width: 1080px) {
    .title,nav {
        text-align:center
    }

    nav li:hover ul,nav ul ul {
        display: none
    }

    .title {
        font-size: 2.5em
    }

    nav {
        background: #303030;
        font-size: 12px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%
    }

    nav ul {
        padding: 2px;
        margin: 2px auto
    }

    nav a {
        width: 80px;
        margin-left: 4px;
        margin-bottom: 4px;
        padding: 2px;
        background: #111;
        border-radius: 20px
    }

    nav ul ul {
        padding: 0;
        margin: 0;
        position: absolute
    }

    nav li:hover a {
        background-color: #222
    }

    nav li:hover a:hover {
        background-color: #555
    }
}
